body {
    background-image: url("../images/background.png");
    background-color: black;
 }

#wrapper {
    margin: 0 auto;
    width: 75%;
}

#title {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    color: #D7F75B;
    background: #472C1B;
    padding: 10px;
}

#instructions {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #9BE564;
    color: #472C1B;
    padding: 10px;
}

#randNumber {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #D7F75B;
    color: #472C1B;
    padding: 10px;
}

#scoreboard {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #CFB53B;
    color: #472C1B;
    padding: 10px;
}

#options {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #7D451B;
    padding: 10px;
}

#currentPoints {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #472C1B;
    color: #D7F75B;
    padding: 10px;
}

#optionOne {
    float: left;
}
