body {
    background-image: url("../images/background.png");
    background-color: black;
 }

#wrapper {
    margin: 0 auto;
    width: 75%;
}

#title {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    color: #D7F75B;
    background: #472C1B;
    padding: 10px;
}

#instructions {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #9BE564;
    color: #472C1B;
    padding: 10px;
}

#randNumber {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #D7F75B;
    color: #472C1B;
    padding: 10px;
}

#scoreboard {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #CFB53B;
    color: #472C1B;
    padding: 10px;
}

#currentScore {
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #472C1B;
    color: #D7F75B;
    padding: 10px;
}

#options {
    display: flex;
    margin: 10px auto;
    width: 80%;
    border-radius: 25px;
    text-align: center;
    background: #7D451B;
    padding: 10px;
}

/* Option One click effects */
        #optionOne {
        position: relative;
        border: none;
        font-size: 28px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        }

        #optionOne:after {
        content: "";
        background: #D7F75B;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
        }

        #optionOne:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
        }

/* Option Two click effects */

    #optionTwo {
        position: relative;
        border: none;
        font-size: 28px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }

    #optionTwo:after {
        content: "";
        background: #D7F75B;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    #optionTwo:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }

/* Option three click */
    #optionThree {
        position: relative;
        border: none;
        font-size: 28px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }

    #optionThree:after {
        content: "";
        background: #D7F75B;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    #optionThree:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }

/* option four click */
    #optionFour {
        position: relative;
        border: none;
        font-size: 28px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }

    #optionFour:after {
        content: "";
        background: #D7F75B;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    #optionFour:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }